/*------------------------------------------------------------------------------

Loaded in wp-admin for query string `hello=buddypress`.

@since 3.0.0

--------------------------------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 - Options
	1.1 - Colours and general styling
	1.2 - About Panel
		1.2.1 - Foobar Feature
	1.3 - Credits Panel
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 * 1.0 - Options
 *----------------------------------------------------------------------------*/

/*
 * 1.1 - Colours and general styling
 */
:root {
	--bp-color-primary: rgba( 211, 70, 0, 0.8 );
}

#bp-hello-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999; /* >= 9990 for main menu */

	background-color: var( --bp-color-primary );
	transition: opacity .15s ease-out;
}
/* 0.8 background opacity */
